/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,600;1,200;1,400&display=swap');

* {
    scroll-behavior: smooth;
}

/* home */
.home {
    width: 100%;
    height: 100vh;
}

.home img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.home .background-blur {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
}

.home .text-hero {
    position: relative;
    top: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .text-hero h1 {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    font-size: 3em;
}

.home .text-hero small {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 3vh;
}

.home .text-hero .btn {
    background-color: #04ADBF;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.home .text-hero .btn:hover {
    background-color: #049BAB;
}

.navbar {
    z-index: 82;
    position: relative;
    bottom: 30px;
}

.navbar .container-fluid .navbar-brand img {
    max-width: 150px;
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1em;
    letter-spacing: 2px;
    transition: all .2s ease-in;
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link:hover {
    color: #04ADBF;
    border-bottom: 1px solid;
}

.navbar .container-fluid .navbar-nav .nav-item .btn-login {
    font-family: 'Playfair Display', serif;
}

.navbar .container-fluid .navbar-nav li {
    margin-right: 40px;
}

/* endhome */
/* about */
.about {
    width: 100%;
    min-height: 85vh;
}

.about .container .row .about-img {
    position: relative;
    bottom: 200px;
}

.about .container .row .about-text {
    text-align: start;
    position: relative;
    bottom: 100px;
}

.about .container .row .about-text small {
    font-family: 'Poppins', sans-serif;
    color: #979797;
}

.about .container .row .about-text h1 {
    font-family: 'Playfair Display', serif;
}

.about .container .row .about-text p {
    font-family: 'Poppins', sans-serif;
    color: #979797;
    text-align: justify;
    font-weight: 200;
}

.about .container .row .about-img img {
    width: 80%;
    min-height: 85vh;
    object-fit: cover;
}

/* content */
.container-content {
    width: 100%;
    min-height: 100vh;
    background-color: #F8F9FA;
}

.container-content .package {
    margin-bottom: 20%;
}

.container-content .package .container .title-package {
    font-family: 'Playfair Display', serif;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.container-content .package .container .title-package .line {
    width: 9%;
    border: 1px solid #8D713C;
    margin-bottom: 5px;
}

.container-content .package .container .title-package .line1 {
    width: 7%;
    border: 1px solid #8D713C;
}

.container-content .package .container .row .package-activity .card .img {
    position: relative;
    bottom: 45%;
    left: 10%;
    width: 80%;
    min-height: 27vh;
    border-radius: 10px;
}

.container-content .package .container .row .package-activity .card {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    height: 30vh;
    margin-top: 40%;
    padding: 0 5px 0;
    background-color: #04ADBF;
}

.container-content .package .container .row .package-activity .card .price {
    position: absolute;
    top: 28%;
    left: 15%;
    z-index: 10;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}

.container-content .package .container .row .package-activity .card .card-body {
    position: relative;
    bottom: 15vh;
}

.container-content .package .container .row .package-activity .card .card-body .card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ffff;
}

.container-content .package .container .row .package-activity .card .card-body .card-text {
    font-family: 'Playfair Display', serif;
    color: #ffff;
}

.container-content .package .container .row .package-activity .card .card-body .btn-booking {
    position: relative;
    top: -10px;
    left: -23px;
}

.container-content .package .container .row .package-activity .card .card-body .btn-booking a {
    width: 115%;
    background-color: #04ADBF;
    border: 1px solid #04ADBF;
    font-family: 'Poppins', sans-serif;
}

.container-content .divesite {
    width: 100%;
    min-height: 100vh;
}
